@model MyConcert.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingPostcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingPostcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
