@model IEnumerable<MyConcert.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingPostcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingPostcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingNo })
        </td>
    </tr>
}

</table>
