@model MyConcert.Models.ShowDetails

@{
    ViewBag.Title = "Details";
    var returnUrl = "~/Shows/MoreDetails/" + Model.ShowDetailsId;
}

<h2>Details</h2>

<div>
    <h4>ShowDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVIPAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVIPAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFrontRowAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFrontRowAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTieredSeatingAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTieredSeatingAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
